input[type=radio] {
    width: 30px;
    height: 30px;
}

h1 {
    text-align: center;
}

h2, p {
    font-size: 25px;
    display: inline-block;
}

img {
    width: 100%
}

.thumbnail {
    width: 10%;
    display: inline-block;
}

select {
    /* hides the scrollbar for select */
    overflow-y: auto;
}